<div class="container">
	<div class="row">
	  <div class="col-md-10">
			<% posts["statuses"].each do |post| %>
			  <div class="well">
				  <p><%= post["text"] %></p>
				  <p><%= post["user"]["name"] %></p>

				  <p><%= image_tag post["user"]["profile_image_url"], size: "25x25" %></p>
				  <% if post["entities"]["media"].present?%>
				    <p><%= image_tag post["entities"]["media"][0]["media_url"] %></p>
				  <% end %>
			  </div>
			<% end %>
	  </div>


	  <div class="col-md-2">
			<% stocks.each do |stock| %>
	     
				<div class="panel panel-success text-center">
			  	<div class="panel-heading">
			  		<h3 class="panel-title">Ask:</h3>
		  		</div>
			  	<div class="panel-body"><%= stock["ask"] %></div>
			  </div>

			 <div class="panel panel-success text-center">
			  	<div class="panel-heading">
			  		<h3 class="panel-title">Bid:</h3>
		  		</div>
			  	<div class="panel-body"><%= stock["bid"] %></div>
			  </div>

			 <div class="panel panel-success text-center">
			  	<div class="panel-heading">
			  		<h3 class="panel-title"> Change:</h3>
		  		</div>
			  	<div class="panel-body"><%= stock["change"] %></div>
			  </div>

		    <div class="panel panel-success text-center">
			  	<div class="panel-heading">
			  		<h3 class="panel-title">Market Cap:</h3>
		  		</div>
			  	<div class="panel-body"><%= stock["market_capitalization"] %>
			  	</div>
			  </div>

		    <div class="panel panel-success text-center">
			  	<div class="panel-heading">
			  		<h3 class="panel-title">Earnings Per Share:</h3>
		  		</div>
			  	<div class="panel-body"><%= stock["earnings_per_share"] %>
			  	</div>
			  </div>

		  <% end %>
	    </div>
	</div>
</div>




